{% extends "navbar.html" %}

{% block content %}
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-success" role="alert">
          {{ message }}
      </div>
    {% endfor %}
{% endif %}
<h2>DASHBOARD</h2></br>
username: {{ user.username}}</br>
email: {{ user.email}}</br>
nome: {{ user.first_name}}</br>
cognome: {{ user.last_name}}</br>
compleanno : {{ user.data_di_nascita}}</br>
indirizzo: {{ user.indirizzo }}</br>
cellulare: {{ user.cellulare}}</br>
profilo: {{ user.image }}</br>
<!--<img src='{{ user.image.url|default_if_none:"#" }}' class="img-thumbnail" width="100" height="100" alt="trolll">-->
Fai parte dello staff di piantala?  {{ user.is_staff}}</br>

{% if user.image %}
<p>Immagine profilo pd edition:</p></br>
  <img src="{{ user.image.url }}" width="240px">
  {% else %}
  <p>non hai immagine del profilo</p>
{% endif %}




<p><a href="{% url 'edit_profile' %}">Modifica il tuo profilo</a></p>

{% endblock content %}