{% extends "navbar.html" %}

{% block content %}
 <!-- 
   <h1>Progetto Piantala - Ingegneria del software - UNISA</h1>
  <h2>Contenuti interessati:</h2>
  <p>Records in database:</p>
  <ul>
    <li><strong>Prodotti:</strong> {{ num_products }}</li>
    <li><strong>Prodotti disponibili :</strong> {{ num_instances_available }}</li>
    <li><strong>Agricoltori associati:</strong> {{ num_farmers }}</li>
  </ul>
  <p>Tu hai visitato la pagina  {{ num_visits }}{% if num_visits == 1 %} time{% else %} volte {% endif %}.</p>
  -->
  <strong>Restituisci dati dalla sessione</strong>
  <p>Questo è il tuo username: <strong>{{ user.username|default:'Utente anonimo' }}</strong></p>
  {% if user.is_staff %}
  <strong>(O)fai parte dello staff di piantala</strong></br></br>
  {% else %}
  <strong>(X) non fai parte dello staff</strong></br></br>
  {% endif %}
  <strong>-------------------------------</strong></br></br>
<strong>username : admin | password : dipa</br>
username : responsabile | password : dipa</br>
username : utente | password : dipa </strong></br>
username : utente2 | password : dipa </strong>
{% endblock %}