{% extends "navbar.html" %}

{% block content %}
 <!-- 
   <h1>Progetto Piantala - Ingegneria del software - UNISA</h1>
  <h2>Contenuti interessati:</h2>
  <p>Records in database:</p>
  <ul>
    <li><strong>Prodotti:</strong> {{ num_products }}</li>
    <li><strong>Prodotti disponibili :</strong> {{ num_instances_available }}</li>
    <li><strong>Agricoltori associati:</strong> {{ num_farmers }}</li>
  </ul>
  <p>Tu hai visitato la pagina  {{ num_visits }}{% if num_visits == 1 %} time{% else %} volte {% endif %}.</p>
  -->
  <p>Questo è il tuo username: {{ user.username|default:'Utente anonimo' }}</p>
  {% if user.is_staff %}
  <p>fai parte dello staff di piantala</p>
  {% else %}
  <p>non fai parte dello staff</p>
  {% endif %}

  <h2>Cosa è stato fatto fin ora:</h2>
  <p>admin = <strong>dipa:dipa</strong></p>
  <p>user = <strong>user:\123qwer</strong></p>

  <ul>
    <li>
      Pannello admin | Aggiungi,elimina,modifica qualunque record | Filtri record database in pannello admin
    </li>
    <li>
      Utente "responsabile" dello staff che può accedere solo a determinati records
    </li>
    <li>
      Visualizza tutti i prodotti | visualizza dettagli prodotto
    </li>
    <li>
      Visualizza tutti gli agricoltori | visualizza dettagli agricoltore
    </li>
    <li>
      Registrazione | Login | Logout
    </li>
  </ul>
{% endblock %}