<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>piantala UNISA</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% load static %}
  <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="{% url 'index' %}">
        {% load static %}
        <img src="{% static 'images/logo-piantala.png' %}" width="30" height="30" class="d-inline-block align-top" alt="logo-piantala">
        home
      </a>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="navbar-brand" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% load static %}
            <img src="{% static 'images/profile-piantala2.png' %}" width="30" height="30" class="d-inline-block align-top" alt="##">
            {{ user.username}}
          </a>
          {% if user.is_staff%}
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin">Pannello amministrazione</a>
            <a class="dropdown-item" href="#">Impostazioni</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
          {% else %}
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'dashboard' %}">I miei dati</a>
            <a class="dropdown-item" href="{% url 'edit_profile' %}">Modifica profilo</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
          {% endif %}
        </li>
        {% else %}
        <li class="nav-item">
          <a class="navbar-brand" href="{% url 'login' %}">
            {% load static %}
            <img src="{% static 'images/profile-piantala2.png' %}" width="30" height="30" class="d-inline-block align-top" alt="##">
            login
          </a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="navbar-brand" href="{% url 'index' %}">
            {% load static %}
            <img src="{% static 'images/cart-piantala.png' %}" width="30" height="30" class="d-inline-block align-top" alt="##">
            carrello
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="{% url 'farmers' %}">
            {% load static %}
            <img src="{% static 'images/farmer-logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="logo-farmer">
            agricoltori
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="{% url 'products' %}">
            {% load static %}
            <img src="{% static 'images/product-piantala2.png' %}" width="30" height="30" class="d-inline-block align-top" alt="logo-basket">
            prodotti
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="{% url 'chi_siamo' %}">
            {% load static %}
            <img src="{% static 'images/about-us.png' %}" width="30" height="30" class="d-inline-block align-top" alt="logo-basket">
            chi siamo
          </a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerca!</button>
      </form> -->
    </div>
  </nav>  
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
<!-- js per bootstrap-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>