{% extends "navbar.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h2>EDIT_PROFILE</h2>
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger" role="alert">
          {{ message }}
      </div>
    {% endfor %}
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}</br>
   <!-- {{ avatar_form.as_p }} -->
    <input type="submit" value="Aggiorna">
</form>
Per cambiare la password puoi usare questo <a href="{% url 'index' %}">change</a>
{% endblock %}