{% extends "navbar.html" %}


{% block content %}
  <h1>Lista degli agricoltori che hanno aderito a piantala.org</h1>
  {% if farmer_list %}
  <!-- <ul> -->
    {% for farmer in farmer_list %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ farmer.image.url }}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Nome: {{ farmer.first_name}} {{ farmer.last_name}}</p>
        <p class="card-text">Compl: {{ farmer.date_of_birth}}</p>
        <p class="card-text">Da ndu ne vien? {{ farmer.farm_loc}}</p>
        <p class="card-text">tel: {{ farmer.phone }}</p>
        <a href="{{ farmer.get_absolute_url }}" class="btn btn-primary">Dettagli agricoltore</a>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>Non ci sono prodotti in vendita!.</p>
  {% endif %}       
{% endblock %}