{% extends "navbar.html" %}


{% block content %}
  <h1>Lista prodotti piantala.org</h1>
  {% if product_list %}
  <!-- <ul> -->
    {% for product in product_list %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}  n.{{ product.id }}</h5>
        <p class="card-text">Venduto da: <a href="{% url 'farmer-detail' product.farmer.pk %}">{{ product.farmer }}</a></p>
        <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Dettagli prodotto</a>
        {{ farmer.last_name}}
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>Non ci sono prodotti in vendita!.</p>
  {% endif %}       
{% endblock %}
     <!-- <li> 
        <img src="{{ product.image.url }}" class="img-thumbnail" width="100" height="100" alt="immagine"></br>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a> ({{product.farmer}})
      </li> -->
   
  <!-- </ul> -->

      <!-- <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">Venduto da {{product.farmer}}.</p>
        <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Dettagli prodotto</a>
      </div>
    </div> -->