{% extends "navbar.html" %}

{% block content %}
  <h1>Informazioni dettagliate su: {{ product.name }}</h1>

  <img src="{{ product.image.url }}" class="img-thumbnail" width="100" height="100" alt="immagine">
  <p><strong>Farmer:</strong> <a href="{% url 'farmer-detail' product.farmer.pk %}">{{ product.farmer }}</a></p>
  <p><strong>Summary:</strong> {{ product.summary }}</p>
  <p><strong>Genre:</strong> {% for genre in product.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
  {% for product in product.productinstance_set.all %}
  <p class="{% if product.status == 'd' %}text-success{% elif product.status == 'e' %}text-danger{% elif product.status == 'p' %}text-info{% else %}text-warning{% endif %}">{{ product.get_status_display }}</p>
  {% endfor %}
{% endblock %}


